.jumbotron {
    /* background-image: url("https://picsum.photos/1000/400/?random"); */
}

.gap {
    height: 2em;
}

.carousel {
    background: #EEE;
    text-align: center;
   
}

.tdd-outer {
    width: 100%;
    height: 100%;
    position: relative;
}

.tdd-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.test {
    font-size: 5em;
    display: inline-block;
    height: 1.1em;
    width: 1.1em;
}

.pass {
    color: lightgreen;
}

.fail {
    color: red;
}